<div class="row">
    <div class="small-12 medium-offset-2 medium-8 columns text-center">
        Book one workshop in each session
    </div>
    <div class="small-6 medium-1 columns">
        SESSION 1<br>
        10:00 - 14:00<br>
    </div>
    <div class="small-6 medium-1 columns">
        SESSION 2<br>
        15:30 - 19:30<br>
    </div>
</div>

<section id="jitter">
    {{#each workshop in controllers.workshops}}
        <div class="row-wrapper" {{bind-attr class='workshop.isAttending:attending'}}>
            <div class="row">
                <a>
                    <div class="small-12 medium-10 columns" {{action 'showInfo'}}>
                        <h6>{{workshop.speakerList}}</h6>
                        <h6>{{workshop.name}}</h6>
                    </div>
                </a>
                <div class="small-6 medium-1 columns">
                    <button class="tiny" {{action 'toggleSignUp' 0}} {{bind-attr disabled='workshop.signUpForbidden0'}} {{bind-attr class='workshop.session_0_attending:success'}}>
                    </button>
                    {{workshop.session_0_free_spots}}
                </div>
                <div class="small-6 medium-1 columns">
                    <button class="tiny" {{action 'toggleSignUp' 1}} {{bind-attr disabled='workshop.signUpForbidden1'}} {{bind-attr class='workshop.session_1_attending:success'}}>
                    </button>
                    {{workshop.session_1_free_spots}}
                </div>
            </div>
        </div>
    {{/each}}
</section>

<div id="modal" class="reveal-modal" data-reveal>
    <div class="row">
        <div class="small-12 columns">
            <h1>{{model.selectedWorkshop.name}}</h1>

            <p>{{model.selectedWorkshop.description}}</p>
        </div>
    </div>

    <div class="row">
        {{#each speaker in model.selectedWorkshop.speakers}}
            <div class="small-6 columns">
                <img {{bind-attr src='speaker.picture_url'}} alt=""/>

                <h1>{{speaker.name}}</h1>

                <h3>{{speaker.role}}</h3>

                <p>{{speaker.bio}}</p>
            </div>
        {{/each}}
    </div>

    <a class="close-reveal-modal">&#215;</a>
</div>

